*{
    margin: 0;
    padding: 0;
}

body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.header{
    display: flex;
}

.header .kuning {
    margin: 10px;
    border: 2px solid #000;
    width: 220px;
    height: 100px;
    background-color: yellow;
    transition: 0.4s;
    color: yellow;
}

.header .kuning h1 {
    margin: 10px auto;
    text-align: center;
}


.header .orange {
    margin: 10px;
    width: 1000px;
    border: 2px solid #000;
    background-color: rgb(243, 61, 0);
    color: rgb(243, 61, 0);
    transition: 0.4s;
}


.header .orange h1 {
    margin: 10px auto;
    text-align: center;
}


.main {
    display: flex;
}

.main .hijau{
    margin: 10px;
    border: 2px solid #000;
    width: 220px;
    background-color: rgb(132, 245, 132);
    height: 440px;
    color: rgb(132, 245, 132);
    transition: 0.4s;
}



.main .hijau h1 {
    margin: 20px auto;
    text-align: center;
}

.main .gray {
    margin: 10px;
    border: 2px solid #000;
    width: 760px;
    height: 440;
    background-color: gray;
    transition: 0.4s;
    color: gray;
}



.main .gray h1 {
    text-align: center;
    margin: 20px auto;
}

.main .skyblue {
    border: 2px solid #000;
    width: 220px;
    margin: 10px;
    background-color: skyblue;
    color: skyblue;
    transition: 0.4s;
}



.main .skyblue h1 {
    margin: 20px auto;
    text-align: center;
}

.biru {
    border: 2px solid #000;
    background-color: blue;
    width: 1245px;
    height: 100px;
    margin: 10px;
    transition: 0.5s;
    color: blue;
}


.biru h1 {
    margin: 20px auto;
    text-align: center;
}

